label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}
.label {
  color: #d22856;
  text-transform: uppercase;
  padding-left: 25px
}
.label--align {
  text-align: center;
  padding-left: 0
}
.contest-form__bundle-wrap {
  padding: 30px 0 40px
}
.contest-form__bundle-wrap:first-of-type {
  padding: 0 0 40px 0
}
.contest-form__submit {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background-color: #2aab6d;
  padding: 15px 0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px
}
.contest-form__note {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px
}
