.upload__editing-btns {
  padding: 35px;
  text-align: center;
}
.upload__post-btn {
  display: block;
  width: 100%;
  border-radius: 40px;
  padding: 14px 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: 3px solid #d22856;
  color: #d22856;
}
.upload__post-btn--disable {
  border: 3px solid #dddfe0;
  color: #dddfe0;
  margin-bottom: 0
}
